.product {
  &__image {
    max-width: 250px;
    border-radius: 8px;
    margin-right: 15px;

    img {
      width: 100%;
      object-fit: fill;
    }
  }

  &__wrapper {
    button {
      width: 30px;
      background-color: transparent;
      border: 1px solid black;
      border-radius: 8px;
      cursor: pointer;
    }
  }

  &__title {
    text-transform: capitalize;
    font-size: 18px;
  }

  &__buttons {
    gap: 15px;
    input:read-only {
      width: 10px;
      text-align: center;
      border: none;
    }

    @media screen and (max-width: 768px) {
      flex-direction: column;
      gap: 5px;
    }
  }

  &__remove-button {
    color: red;
  }
}
