.shop {
  &__wrapper {
    padding: 20px;
  }
  &__name {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    margin: 0 0 32px;
  }
  &__products {
    &-item {
      border-bottom: 1px solid black;

      &:last-child {
        border: none;
      }
    }

    &-list {
      display: flex;
      list-style: none;
      flex-direction: column;
      gap: 16px;
      padding: 0;
    }
  }
}
